---
---

@use "minimal-mistakes";

.page__inner-wrap {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .page__inner-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
